OSU_CLIENT_ID=id # https://osu.ppy.sh/home/account/edit#oauth
OSU_CLIENT_SECRET=secret # https://osu.ppy.sh/home/account/edit#oauth
BOT_TOKEN=token # https://discord.com/developers/applications.
FRONTEND_URL=url # ex: https://pancho.moe
FRONTEND_LOGIN_ROUTE=route # ex: /auth/login/osu
DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE # Used by prisma for db connection.
