OSU_CLIENT_ID=id # https://osu.ppy.sh/home/account/edit#oauth
OSU_CLIENT_SECRET=secret # https://osu.ppy.sh/home/account/edit#oauth
BOT_TOKEN=token # https://discord.com/developers/applications.
FRONTEND_URL=url # ex: https://pancho.moe
FRONTEND_LOGIN_ROUTE=route # ex: /auth/login/osu
DATABASE_URL=mysql://USER:PASSWORD@HOST:PORT/DATABASE # Used by prisma for db connection.
LOG_DATE_PATTERN=DD/MM/YYYY # Optional: Used by winston logs.
DEV_GUILD_ID=id # Optional: Commands will be registered to this server only if specified.
S3_ENDPOINT=endpoint # Optional: Used for custom S3 endpoints.
S3_ACCESS_KEY_ID=id
S3_SECRET_ACCESS_KEY=key
S3_BUCKET_NAME=bucket_name
LOKI_ENDPOINT=name # Optional: Used for Loki integration.
LOKI_USER=token # Optional: Used for Loki integration.
LOKI_PASSWORD=id # Optional: Used for Loki integration.
